<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.fungo.mapper.LoginMapper">

	<select id="login" parameterType="cn.fungo.domain.W11OperatorBill" resultType="cn.fungo.domain.W11OperatorBill">
		select * from  W11OperatorBill t where t.OperatorName = #{operatorName} and t.OperatorPwd = #{operatorPwd}
	</select>

</mapper>